<h1>Update your profile</h1>
<div class="submit-form">
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, :placholder => 'Name' %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password:' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.file_field :image %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>
