<% if signed_in? %>
  <%= form_tag expenses_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>  
    </p>
  <% end %>
  <div id="container" style="width:800px; height:200px;"></div>
      <tr>      
        <h1 class="expense">Welcome To Spendify</h1> 
        <table class="table table-striped" style="border:1px solid black;">
          <tr>
          <th>Date</th> 
          <th>Merchant</th>
          <th>Comment</th>
          <th>Category</th>
          <th>Total Amount (NPR)</th>
          <th>Payment Mode (Reimbursable or Billable)</th> 
          <th>Edit</th>
          <th>Email</th>
          </tr>
          <%= render @expenses %>
        </table>
          <div class="container">
            <%= link_to 'New Expense', new_expense_path %></button>
          </div>  
<% else %>
  <h1>Spendify App</h1>
  <b><%= link_to "Sign up now!", signup_path, :class => "signup_button round" %></b>
<% end %>

<script type="text/javascript">
  $(function (){
    $('#container').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Users Expenses'
      },
      xAxis: {
          categories: 
          <%= raw @expenses.map{|expense|  expense.category } %>
      },
      yAxis: {
          title: {
              text: 'Amount (NPR)'
          }
      },
      series: [{
              name: 'Merchant',
              data: <%= @expenses.map do |expense| expense.total end %>
      }]  
    });
  });
</script>