<tr>
  <td><%= expense.date %></td>
  <td><%= expense.merchant %></td>
  <td><%= expense.comment %></td>
  <td><%= expense.category %></td>
  <td><%= expense.total %></td>
  <td><%= expense.payment_mode %></td>
  <b><td><%= link_to 'Edit', edit_expense_path(expense) %></td></b>
  <td><%= expense.user.email %></td>
</tr>


 


   