<p id="notice"><%= notice %></p>
    <p>
      <strong>Merchant:</strong>
      <%= @expense.merchant %>
    </p>
    <p>
      <strong>Merchant:</strong>
      <%= @expense.merchant %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= @expense.comment %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= @expense.category %>
    </p>
    <p>
      <strong>Total:</strong>
      <%= @expense.total %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @expense.date %>
    </p>
    <p>
      <strong>Payment Mode:</strong>
      <%= @expense.payment_mode %>
    </p>
            
<button><%= link_to 'Edit', edit_expense_path(@expenses) %></button> |
<button><%= link_to 'Back', expenses_path %></button>

