<!DOCTYPE html>
<html>
<head>
  <title>Spendify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='span6'>
        <div class="nav nav-tabs">
          <li><%= link_to 'Home', root_path %></li>
          <% if signed_in? %>                    
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Setting', edit_user_path(current_user) %></li>
            <li><%= link_to 'Sign out', signout_path %></li>
          <% else %>
            <li><%= link_to 'Sign in', signin_path %></li>
          <% end %>        
        </div>
      </div>
    </div>     
    <%= yield %>
  </div>
</body>
</html>
